body {
    margin: 0;
    overflow: hidden;
    background: #392635;
}

#canvas{
    cursor: move;
}

#toolbar {
    position: absolute;
    z-index: 1;
    background: white;
    border-radius: 5px;
    border: 5px solid #1d1d1d;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 5px 15px;
    .active i {
        color: #ee3e34;
    }
}
.tool {
    cursor: pointer;
    margin: 20px;
    text-align: center;
    font-size: 2em;
}