body {
  margin: 0;
  overflow: hidden;
  background: #392635;
  font-family: 'Roboto', sans-serif;
}

#toolbar, #blockSelector, #bag {
  user-select: none;
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 5px;
  border: 5px solid #1d1d1d;
  top: 50%;
  transform: translate(0, -50%);
  padding: 5px 15px;

  .active i {
    color: #ee3e34;
  }
}

#bag {
  transform: none;
  top: 15px;
  right: 15px;
}

#importer {
  display: none;
}

label[for=importer] {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#toolbar {
  left: 15px;
}

#blockSelector {
  right: 15px;
  display: grid;
  grid-template-columns: 70px 70px;
  row-gap: 5px;
  column-gap: 5px;
  max-height: 80vh;
  overflow: auto;
  .selected {
    background: rgba(0, 0, 0, .1);
  }

  .block {
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    .name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    .render {
      width: 32px;
      height: 32px;
      border-width: 3px;
      border-style: solid;
      border-color: #316326;
      box-sizing: border-box;
      background: #63c74d;
      margin-bottom: 5px;
    }
  }
}

.tool {
  cursor: pointer;
  margin: 20px;
  text-align: center;
  font-size: 2em;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0 none #fff;
    border-radius: 0
}

::-webkit-scrollbar-thumb:hover {
    background: #fff
}

::-webkit-scrollbar-thumb:active {
    background: #bfbfbf
}

::-webkit-scrollbar-track {
    background: #666;
    border: 0 none #fff;
    border-radius: 0
}

::-webkit-scrollbar-track:hover {
    background: #666
}

::-webkit-scrollbar-track:active {
    background: #333
}

::-webkit-scrollbar-corner {
    background: transparent
}
